/**
*  Filterscreen
*/


.ui-state-default .ui-icon {
    background-image: url(map-images/ui-icons_888888_256x240.png);
    display: inline-block;
    margin-top: 3px;
    margin-right: 3px;
    margin-left: 2px;
}

#thumbnail-filter-box {

    background-color: rgba(173, 172, 172, 1);
    padding: 10px;
    font-size: 14px;
    color: #3756a4;

}


#fh-reset-filter, #sammlungen_selector, #time_slider_box {
    border-bottom: 1px solid #8E8E8E;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 3px;
    color: #3756a4;
    padding-top: 8px;
    	font-weight: 400!important;

}

#sammlungen_selector > form > label {
	margin-right: 20px;
		font-weight: 400!important;


}

#sammlungen_selector {
background-image: url(map-images/collection_1.png);
background-position: left center;
background-repeat: no-repeat;
padding-left: 50px;
}


#time_slider {
max-width:280px;
margin-top: 10px;
}

.ui-slider-horizontal .ui-slider-range {
    height: 3px;
    background-color: #3756a4!important;
    border:none!important;
}

.ui-slider-horizontal {
    height: 3px;
}


.ui-slider .ui-slider-handle {
    width: 0.9em;
    height:1em;
    border-radius: 10px;
    border: 2px solid #cdcdcd!important;
     margin-top: -1px!important;
 
}


#time_display {
	margin-left: 70px;
}

#time_display > label{
display:none;	
}

#time_slider_box {
background-image: url(map-images/calendar.png);
background-position: left center;
background-repeat: no-repeat;
padding-left: 60px;

}

.ui-widget-content {
    border: none;
    /*background: #fff url(map-images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;*/
    background: #fff;
        font-size: 14px!important;
    color: #3756a4;
        font-family: 'Source Sans Pro', sans-serif;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: none;
    background: #fff;
    font-weight: 600;
    color: #3756a4;
    margin-top: 10px;
}


span.ui-accordion-header-icon.ui-icon.ui-icon-circle-arrow-e
 {
 	
    background-image: url(map-images/arrow-down.png);
    background-position: top center;
    float: right;

}

span.ui-accordion-header-icon.ui-icon.ui-icon-circle-arrow-s

 {
 	  background-image: url(map-images/arrow.png);
    background-position: top center;
    float: right;

}


.ui-accordion-header {
padding: 8px!important;

}

.ui-accordion-content {
padding-left: 8px!important;
padding-bottom: 8px;
padding-right: 8px;

}


#tour_selector {
    max-height: 400px;
    min-height: 120px;
}
.tour_selector {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px solid #cdcdcd;
	font-size: 14px;
	font-weight: 400;
	background-color: #ffffff;
    min-height: 14px;
}


.tour_selector:hover {
	background-color: #dce6fe;
	transition: background-color 0.5s;
}
.ui-accordion .ui-accordion-content{ overflow-y:auto !important; }

.status {
display:none;

}

.modal-body .status {
display:block;
}


#kategory_selector_table input {
	display:block;
	width: 15px;
	margin: 0 auto;
}

#kategory_selector_table label {
	text-align:center;
	max-width: 150px;
	margin-left:0px!important;
	padding-left:0px!important;


	

}

#kategory_selector_table td {
	text-align:center;
	padding: 8px;
	border: 1px dotted #cdcdcd;

}


#kategory_selector_table td:hover {
	background-color: #dce6fe;
	transition: background-color 0.5s;


}




 #kategory_selector_table {
table-layout: fixed;
word-wrap: break-word;
width: 365px;

}

label > span {
display:block;

}





#author_selector {

text-align:center;


}



#author_selector > label {

margin-right: 5px;
padding-top: 5px;
display:block;
border-top:1px solid#cdcdcd;
background-color: #ffffff;


}


#author_selector > label:hover {
	background-color: #dce6fe;
	transition: background-color 0.2s;


}





#author_selector > input {

width: 15px;
display:inline-block;
background-color: #ffffff;

}

div.filter-close > a {

border-radius:4px!important;
background-color: #3756a4;
color: #fff;
font-weight:400;
}

div.filter-close > a:hover {

	background-color: #112c6f;
	transition: background-color 0.5s;

}


#ui-accordion-accordion-header-0

 {
background-image: url(map-images/tour.png);
background-position: left center;
background-repeat: no-repeat;

}


#ui-accordion-accordion-header-1

 {
background-image: url(map-images/category.png);
background-position: left center;
background-repeat: no-repeat;

}


#ui-accordion-accordion-header-2

 {
background-image: url(map-images/author.png);
background-position: left center;
background-repeat: no-repeat;

}

h3 .search_tags{
    position: absolute;
    left: 25px;
}

.accordion h3 {
padding-left: 50px!important;
	
}


/* weitere Styles für Filer-Screens */


#fh-reset-filter > div:after {
    content: ' Ergebnisse'
}

.fh-reset-filter-count {
    display:inline-block;
}

#reset-filter-link,
.filter-close{

    float:right;
    display: table-cell;
    padding-top: 3px;
    padding-bottom:3px;
    padding-left: 10px;
    padding-right:10px;
    margin-top:-4px;
    margin-right:-3px;
    background-color: #1a67ad;
    color: #fff;
    border-radius:3px;
margin-right: 3px;
}

#reset-filter-link:hover,
.filter-close:hover{
    background-color: #112c6f;
    transition: background-color 0.5s;
    text-decoration:none;
    cursor: pointer;
    color: #ffffff;
}


#time_slider {

    background-color: #adacac;
}


#thumbnail-navigation-filter-button, #thumbnail-navigation-sort-button {
    height: 40px;
    padding-top:10px;

}

#thumbnail-navigation {
    height:40px;
}

#thumbnail-sort-box {
    padding: 10px;
    display: none;
    width: 400px;
    height: 185px;
    background-color: #adacac;
    left: -414px;
    position: absolute;
    z-index: 3;
    top:0px;
    font-size:14px;
}

#sort_selector .sort-box {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: -10px;
    padding-top: 5px;
    padding-left:10px;
    border-radius:3px;
    height: 35px;
    color: #3553a4;

}

#sort_selector .sort-box label {
    font-weight:400;
}

.sort-close {
    border-radius: 4px!important;
    background-color: #3756a4;
    color: #fff;
    font-weight: 400;


}


.sort-close a, .filter-closee a {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #3756a4;
    color: #fff;
    margin-top: 50px;
    display: block;
    text-align: center;
    border-radius: 4px;
}

.sort-close a:hover, .filter-closee a:hover {
    background-color: #112c6f;
    transition: background-color 0.5s;
}

#time_slider .ui-slider-handle,
#accordion h3,
#sammlungen_selector label,
#accordion #kategory_selector label,
#accordion #author_selector label input
{
    cursor: pointer;
}


/* FILTER ICON STATUS */


#sammlungen_selector {
    background-image:url(map-images/collection.png)!important;
    /*background-position:right center;*/
    background-repeat:no-repeat;

}


#thumbnail-navigation-filter-button.kategorie {

    background-image:url(map-images/category_filter.png);
    background-position:right 5px center;
    background-repeat:no-repeat;

}

#thumbnail-navigation-filter-button.author {

    background-image:url(map-images/author_filter.png);
    background-position:right 5px center;
    background-repeat:no-repeat;

}

#thumbnail-navigation-filter-button.date {

    background-image:url(map-images/calendar_filter.png);
    background-position:right 5px center;
    background-repeat:no-repeat;}

#thumbnail-navigation-filter-button.tour {

    background-image:url(map-images/tour_filter.png);
    background-position:right 5px center;
    background-repeat:no-repeat;

}


#thumbnail-navigation-filter-button.sammlung {

    background-image:url(map-images/collection_filter.png);
    background-position:right 5px center;
    background-repeat:no-repeat;

}

#thumbnail-navigation-filter-button.tags {

    background-image:url(map-images/ic_search_white_24dp_1x.png);
    background-position:right 13px center;
    background-repeat:no-repeat;

}

#thumbnail-navigation-filter-button.multiple {

background-image:url(map-images/check.png);
background-position:right 5px center;
background-repeat:no-repeat;
}


#thumbnail-navigation-sort-button.dist {

    background-image:url(map-images/ic_directions_walk_white_24dp_1x.png);
    background-position:right 10px center;
    background-repeat:no-repeat;

}
#thumbnail-navigation-sort-button.year {

    background-image:url(map-images/ic_date_range_white_24dp_1x.png);
    background-position:right 10px center;
    background-repeat:no-repeat;

}
.chosen-container .chosen-choices .search-field:only-child input {
    width: 100% !important;
}

.tooltipster-content h4{
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 500;
}